# Import Libraries

In [70]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

# Import Data

In [71]:
#Defining path
path=r'/Users/guillaumemac/06-2023 Instacart Basket Analysis'

In [72]:
#Importing Data
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods.pkl'))

In [73]:
#Checking the data shape
ords_prods_merge.shape

(32404859, 17)

In [74]:
#Checking the data output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders

# Question 2

In [75]:
#Creating a subset of the data
df=ords_prods_merge[:1000000]

In [76]:
#Aggregated mean of the “order_number” column grouped by “department_id” for a subset of the dataframe
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [77]:
#Aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Question 3

## Using the entire to get the agg mean allows us to view the mean value of all the departments whilst using the subset dataframe only show few departments.

# Question 4

In [78]:
#Creating a loyalty flag for existing customers
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [79]:
#Telling the dsiplay function display to remove a limit on rows shown
pd.options.display.max_rows = None

In [80]:
#Checking for data output
ords_prods_merge.head(150)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,22
100,1665683,423,3,2,11,7.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,42
101,3096825,423,19,2,11,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,42
102,1548901,546,4,3,18,23.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,6
103,668870,591,2,1,13,7.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,7
104,2483801,626,2,5,15,2.0,196,10,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,94
105,2741904,626,6,1,14,5.0,196,12,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,94
106,2138689,626,10,1,10,4.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,94
107,981587,626,12,1,9,4.0,196,8,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,94
108,716308,626,20,3,12,5.0,196,13,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,94
109,2384068,626,25,1,12,2.0,196,11,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,94
110,1433072,626,39,1,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,94
111,1675128,626,47,4,12,7.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,94
112,3015534,626,65,2,9,5.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,94
113,325835,626,85,1,17,1.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,94
114,490788,642,2,2,10,4.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,6
115,1454776,676,5,1,10,14.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,11
116,46887,676,6,0,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,11
117,2700378,676,7,5,19,12.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,11
118,1172680,676,8,0,12,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,11
119,2924711,676,9,3,15,30.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
120,443065,676,10,5,18,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,11
121,1171861,676,11,2,16,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,11
122,296844,680,5,5,19,5.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,6
123,3010461,691,4,6,12,9.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
124,962470,691,14,6,15,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
125,1060084,691,20,1,14,10.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
126,147387,709,4,0,21,8.0,196,33,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,5
127,2322397,709,5,1,21,8.0,196,17,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,5
128,3211242,716,2,4,8,6.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,4
129,3103607,730,3,3,17,30.0,196,6,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,11
130,3371566,760,1,2,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,4
131,1777553,778,5,2,0,2.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Fewest orders,42
132,231498,793,1,1,10,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,5
133,657712,793,2,2,12,22.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,5
134,1485857,793,3,2,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,5
135,2460724,793,4,3,11,22.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,5
136,79610,793,5,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,5
137,1742804,858,14,2,12,8.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,30
138,3145825,926,4,3,8,14.0,196,7,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,7
139,2257155,951,3,4,20,15.0,196,12,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,3
140,2696986,991,1,3,16,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,5
141,1121647,992,7,5,10,7.0,196,4,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,21
142,212048,992,9,0,13,9.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,21
143,681310,992,10,5,13,26.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,21
144,58766,992,11,5,13,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,21
145,1238233,992,13,6,13,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,21
146,88614,992,16,6,13,22.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,21
147,2010466,992,18,0,13,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,21
148,1169679,992,20,3,15,18.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,21
149,1155987,1024,33,3,9,1.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,99

In [81]:
# Create flags to assign "loyalty" labels to user_id based on max_order value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [82]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [83]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [84]:
# Checking for loyalty flags for accuracy
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

# Question 5

In [85]:
#Finding the agg mean value of product price by loyalty group
#Grouping by prices
ords_prods_merge.groupby('prices')
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [86]:
#Descriptive statistics for the prices column
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [87]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer

# Question 6

# Creating flags to assign "spending" labels to users based on the  mean product price

In [88]:
# Group data by "user_id" column, generate mean product price for each user, create "mean_price" for aggregation results
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [89]:
#Checking data output
ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797

In [90]:
#Creating Low Spender label
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High Spender'

In [91]:
#Creating High Spender Label
ords_prods_merge.loc[ords_prods_merge['mean_price']<10,'spending_flag']='Low Spender'

In [92]:
# Checking the new spending flags for accuracy
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

# Question 7

### Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [93]:
#Create a frequency flag using groupings
ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [94]:
#checking the data output
ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,Busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5

In [95]:
# Create flags to assign freqency labels to users based on median days since prior order
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [96]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'frequency_flag'] = 'Regular customer'

In [97]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [98]:
# Checking spending flags for accuracy
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [99]:
#Investigating the null values
ords_prods_merge[ords_prods_merge.frequency_flag.isnull()]

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,Busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,both,Low-range product,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
24138593,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
25880002,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,both,Low-range product,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN

# Observation: The null values are believed to be from a new customer without days_since_prior_order data. therefore opting to leave it untouched as it is also too little to affect my analysis moving forward

In [100]:
# Exporting dataframe as pkl file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'new_ords_prods.pkl'))